#--- Node.js
node_modules/

.env
.env*
package-lock.json

#---     TypeScript
lib/

#---     https://github.com/microsoft/typescript-go
built/
cmd/

#--- Python
__pycache__/
.pytest_cache/
dist/
stockhub.egg-info/

.pypirc

#--- MacBook
.DS_Store

zz*

#--- Windows

#--- StockHub
files/sqlite3/
prisma/migrations/
src/prismaClient/
